@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,700;1,400&display=swap');

#date-sort {
    height: 5vh;
    display: block;
    font-family: 'Roboto', sans-serif;
    border-radius: 3px;
    border: 1px solid #a6a6a6;
}

.expenditure {
    height: 100vh;
    overflow-y: scroll;
}

.expenditure-table {
    /* margin-top: 12vh !important; */
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3vh !important;
}

.options {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5vh;
}

/*animation*/
#date-sort:focus {
    outline: none;
}
